body {
  width: 65vw;
  height: 95vh;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 0.7em solid lightgrey;
}

#header {
  text-align: center;
}
#header > img {
  width: 65vw;
  height: 30vh;
}
#menu {
  float: left;
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 40vh;
}

#menu > a {
  background-color: lightgreen;
  background: rgb(217, 167, 0);
  background: linear-gradient(0deg, rgba(217, 167, 0, 1) 0%, rgba(208, 10, 8, 0) 100%);
  border: 1px solid lightgrey;
  text-decoration: none;
  text-align: center;

  line-height: 2em;
  margin: auto;
  padding: 0.5em;
  width: 5em;
  height: 2em;
}

#menu > a:active {
  background-color: coral;
}

#main {
  float: left;
  width: 50vw;
  height: 45vh;
  margin: 1em;
  border: 1px solid lightgrey;
}
#main > p {
  padding: 0.5em 1em 0.2em 1em;
  text-align: justify;
}

h1 {
  letter-spacing: 0.2em;
  font-size: 2em;
  color: coral;
}
h1 > span {
  color: rgb(99, 158, 11);
}

h2 {
  color: rgb(98, 243, 98);
  font-size: 1.3em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  border-bottom: 1px solid lightgrey;
}

h3 {
  color: lightcoral;
  text-indent: 1em;
}

#footer {
  float: left;
  width: 70vw;
  height: 10vh;

  font-size: 0.7em;
  word-spacing: 0.3em;

  text-align: center;
  font-style: italic;
  color: grey;
}

#footer a:link {
  color: grey;
}
#footer a:visited {
  color: grey;
}
